{% extends "layout_dashboard/container-app.html" %}
{% block contentContainer %}
    <div class="page-content-wrapper custom-scrollbar">
        <!-- HEADER -->
        {% include "layout_dashboard/components/header-content.html" with titleHeaderContent="Input data training" %}
        <!-- CONTENT -->
        <div class="page-content">
            <div class="p-6 content container custom-scrollbar">
                <form method="POST" action={% url 'input' %}>
                    {% csrf_token %}

                    {% if inputDataTrainForm %} {% comment %} Test UI {% endcomment %}
                        <div class="form-group">
                            <label for="id_questionMessage">Question data</label>
                            {{ inputDataTrainForm.questionMessage }}
                        </div>

                        <div class="form-group">
                            <label>Answer data</label>
                            {{ inputDataTrainForm.answerMessage }}
                            </small>
                        </div>
                        <div class="button-form fc-button-group col-lg-4 col-sm-12"
                             style="float: right; text-align: center">
                            <button type="submit" class="btn btn-primary btn-default col-lg-5 col-sm-6"
                                    style="float: left">Submit
                            </button>
                            <button type="reset" class="btn btn-danger btn-default col-lg-5 col-sm-6"
                                    style="float: right">Reset
                            </button>
                        </div>
                    {% endif %}
                </form>
            </div>
            {% include "layout_dashboard/editor-loader.html" %}

        </div>
        <!-- / CONTENT -->
    </div>
{% endblock %}