{#  TWO SEARCH COMPONENT  #}
<div class="row row-sm-6">
    <div class="col-12 col-lg-6 p-3">
        <div class="search-wrapper md-elevation-1 row no-gutters align-items-center w-100 p-2">
            <i class="icon-magnify s-4"></i>
            <input class="col pl-2" type="text" placeholder="Search word to dictionary..." required
                   name="searchWordDictionaryPrimary"
                   onkeyup="searchWordDictionaryPrimary('{% url 'dictionary_api' %}','{{ csrf_token }}',event)">
        </div>
        <div class="custom-scrollbar ps ps--theme_default">
            <div class="custom-scrollbar ps ps--theme_default m-2" style="max-height: 25vh;"
                 id="listSearchPrimary">
                {% comment %} NTT DOM LIST SEARCH RESUAL WITH listSearchMapping {% endcomment %}
                {% comment %}<li name="itemSearch" id="itemSearch"
                        class="ripple flex-wrap flex-sm-nowrap row p-2 no-gutters align-items-center"
                        value_word="3" onclick="setValueItemSelect($(this))">SPKT
                    </li>{% endcomment %}
                </div>
            </div>
    </div>

    <div class="col-12 col-lg-6 p-3">
        <div class="search-wrapper md-elevation-1 row no-gutters align-items-center w-100 p-2">
            <i class="icon-magnify s-4"></i>
            <input class="col pl-2" type="text" placeholder="Search word to dictionary mapping..." required
                   name="searchWordDictionaryMapping"
                   onkeyup="searchWordDictionaryMapping('{% url 'dictionary_api' %}','{{ csrf_token }}',event)">
                </div>
        <div class="custom-scrollbar ps ps--theme_default">
            <div class="custom-scrollbar ps ps--theme_default m-2" style="max-height: 25vh;"
                 id="listSearchMapping">
                {% comment %} NTT DOM LIST SEARCH RESUAL WITH listSearchMapping {% endcomment %}
            </div>
        </div>
    </div>
</div>
{#  \TWO SEARCH COMPONENT  #}

<div class="row" style="display:flex; justify-content:space-between; margin: 10px">
    <div class="chooseItem">
        <p class="text-left">Word primary current: </p>
    </div>
    <div class="chooseItem">
        <strong id="textChoose"></strong>
    </div>
</div>

<div id="listPreViewMapping" class="card">
    {% comment %}<div class="card" word_key="SPKT">
            <div class="card-header" role="tab" id="headingSPKT" aria-expanded="true" aria-controls="collapseSPKT">
                <a data-toggle="collapse" href="#collapseSPKT" class="collapsed"
                   style="display: flex; justify-content: space-between; text-decoration: none;">
                    <strong word_key="collapseSPKT" word_value="3" style="display: flex; align-items: center;">
                        SPKT
                    </strong>
                    <div class="md-elevation-1 row no-gutters align-items-center w-50 p-2">
                        <input class="col pl-2 dispose" type="text" placeholder="Add new word to dictionary..." required
                               id="idMapNewWordForInput" onkeyup="handleEnterKey(event,addNewWordToDictionary)"
                               style="background: transparent">
                        <i class="icon-tooltip-outline-plus" onclick="addNewWordToDictionary()"></i>
                    </div>
                    <button type="button" class="btn btn-secondary btn-fab btn-sm"
                            onclick="submitUpdataWordValue($(this))">
                        <i class="icon-send"></i>
                    </button>
                </a>
            </div>
            <div id="collapseSPKT" class="collapse show" role="tabpanel" aria-labelledby="headingSPKT"
                 data-parent="#listPreViewMapping">
                <div class="card-block">
                    <!--  NTT TABLE    -->
                    <table id="sample-data-table" class="table">
                        <thead>
                        <tr>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Word key</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Worrd value</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Status</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Actions</span>
                                </div>
                            </th>
                        </tr>
                        </thead>
                        <!-- ELEMENT ITEM LIST VIEW -->
                        <tbody>
                        <tr>
                            <td>Brian Franklin</td>
                            <td>Project Manager</td>
                            <td>
                                <i class="quantity-indicator icon-circle s-3 text-success mr-1"></i>Mapped
                            </td>
                            <td>
                                <button class="badge badge-pill badge-danger p-2 pl-4 pr-4">Detack</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Brian Franklin</td>
                            <td>Project Manager</td>
                            <td>
                                <i class="quantity-indicator icon-circle s-3 text-warning mr-1"></i>To Mapping
                            </td>
                            <td>
                                <button class="badge badge-pill badge-info p-2 pl-4 pr-4">Cancel</button>
                            </td>
                        </tr>
                        <tr>
                            <td>Franklin</td>
                            <td>Broject Manager</td>
                            <td>
                                <i class="quantity-indicator icon-circle s-3 text-info mr-1"></i>Add New
                            </td>
                            <td>
                                <button class="badge badge-pill badge-warning p-2 pl-4 pr-4">Remove</button>
                            </td>
                        </tr>
                        </tbody>
                        <!--    \ELEMENT ITEM LIST VIEW -->
                    </table>

                    <script type="text/javascript">
                        $('#sample-data-table').DataTable({
                            responsive: true,
                            dom: 'rt<"dataTables_footer"ip>',
                        });
                    </script>
                    <!-- \NTT TABLE -->
                </div>
            </div>
        </div>{% endcomment %}
</div>

<script type="text/javascript" src="../../assets/js/apps/dictionary/mapping_dictionary.js"></script>
