{% extends "layout_dashboard/layout-base.html" %}
{% block containerApp %}
    <div class="content-wrapper">  {# container content in one screen not scrollable #}
        {% include "layout_dashboard/status-toolbar.html" %}
        <div class="content custom-scrollbar">
            <div id="project-dashboard" class="page-layout simple right-sidebar">
                {% block contentContainer %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}