<!--  EDITOR -->
<!-- Include Editor style. -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css"
      media="all" rel="stylesheet"/>
<!-- Include JS file. -->
<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
</script>
<link href="../../assets/vendor/froala_editor/froala_editor.css" type="text/css" media="all"
      rel="stylesheet"/>
<link href="../../assets/vendor/froala_editor/froala_style.css" type="text/css" media="all"
      rel="stylesheet"/>
<link href="../../assets/vendor/froala_editor/plugins/video.css" type="text/css" media="all" rel="stylesheet"/>
<link href="../../assets/vendor/froala_editor/plugins/image.css" type="text/css" media="all" rel="stylesheet"/>
<link href="../../assets/vendor/froala_editor/plugins/table.css" type="text/css" media="all" rel="stylesheet"/>
<link href="../../assets/vendor/froala_editor/plugins/code_view.css" type="text/css" media="all" rel="stylesheet"/>
<script type="text/javascript" src="../../assets/vendor/froala_editor/froala_editor.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/froala_editor/plugins/table.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/froala_editor/plugins/video.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/froala_editor/plugins/image.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/froala_editor/plugins/code_view.min.js"></script>
<!--  \EDITOR -->