<!DOCTYPE html>
<html lang="en-us">

<head>
    <title>Project Dashboard</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    {% include "layout_dashboard/style-script-load.html" %}
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar">
<main>
    <div id="wrapper">
        {% include "navigation-bar.html" %}
        {% block containerApp %}
        {% endblock %}
        {% include "layout_dashboard/daily-work-quick-panel-right.html" %}
    </div>
</main>
</body>

</html>