<link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico"/>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic"
      rel="stylesheet">

<!-- STYLESHEETS -->
<style type="text/css">
    [fuse-cloak],
    .fuse-cloak {
        display: none !important;
    }
</style>
<!-- Icons.css -->
<link type="text/css" rel="stylesheet" href="../../assets/icons/fuse-icon-font/style.css">
<!-- Animate.css -->

<link type="text/css" rel="stylesheet" href="../../assets/vendor/animate.min.css">
<!-- PNotify -->
<link type="text/css" rel="stylesheet" href="../../assets/vendor/pnotify/pnotify.custom.min.css">
<!-- Nvd3 - D3 Charts -->
<link type="text/css" rel="stylesheet" href="../../assets/vendor/nvd3/build/nv.d3.min.css"/>
<!-- Perfect Scrollbar -->
<link type="text/css" rel="stylesheet" href="../../assets/vendor/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
<!-- Fuse Html -->
<link type="text/css" rel="stylesheet" href="../../assets/vendor/fuse-html/fuse-html.min.css"/>
<!-- Main CSS -->
<link type="text/css" rel="stylesheet" href="../../assets/css/main.css">
<!-- / STYLESHEETS -->

<!-- JAVASCRIPT -->
<!-- jQuery -->
<script type="text/javascript" src="../../assets/vendor/jquery/dist/jquery.min.js"></script>
<!-- Mobile Detect -->
<script type="text/javascript" src="../../assets/vendor/mobile-detect/mobile-detect.min.js"></script>
<!-- Perfect Scrollbar -->
<script type="text/javascript" src="../../assets/vendor/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js"></script>
<!-- Popper.js -->
<script type="text/javascript" src="../../assets/vendor/popper.js/index.js"></script>
<!-- Bootstrap -->
<script type="text/javascript" src="../../assets/vendor/bootstrap/bootstrap.min.js"></script>
<!-- Nvd3 - D3 Charts -->
<script type="text/javascript" src="../../assets/vendor/d3/d3.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/nvd3/build/nv.d3.min.js"></script>
<!-- Data tables -->
<script type="text/javascript" src="../../assets/vendor/datatables.net/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="../../assets/vendor/datatables-responsive/js/dataTables.responsive.js"></script>
<!-- PNotify -->
<script type="text/javascript" src="../../assets/vendor/pnotify/pnotify.custom.min.js"></script>
<!-- Fuse Html -->
<script type="text/javascript" src="../../assets/vendor/fuse-html/fuse-html.min.js"></script>
<!-- Main JS -->
<script type="text/javascript" src="../../assets/js/main.js"></script>
<!-- / JAVASCRIPT -->