{% extends "layout_dashboard/container-app.html" %}
{% block contentContainer %}
    <div class="page-content-wrapper custom-scrollbar">
        <!-- HEADER -->
        {% include "layout_dashboard/components/header-content.html" with titleHeaderContent="sdsdsd" %}

        <!-- CONTENT -->
        <div class="page-content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">

                <li class="nav-item">
                    <a class="nav-link btn active" id="home-tab" data-toggle="tab" href="#home-tab-pane" role="tab"
                       aria-controls="home-tab-pane" aria-expanded="true">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" id="budget-summary-tab" data-toggle="tab"
                       href="#budget-summary-tab-pane"
                       role="tab"
                       aria-controls="budget-summary-tab-pane">Budget Summary</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link btn" id="team-members-tab" data-toggle="tab" href="#team-members-tab-pane"
                       role="tab"
                       aria-controls="team-members-tab-pane">Team Members</a>
                </li>
            </ul>

            <div class="tab-content"> {#  contains content of tab #}
                <div class="tab-pane fade show active p-3" id="home-tab-pane" role="tabpanel"
                     aria-labelledby="home-tab">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group row no-gutters">
                        {#  TODO content here!!! #}
                        You write code here!!! TAG HOME
                    </div>
                    <!-- / WIDGET GROUP -->
                </div>
                <div class="tab-pane fade p-3" id="budget-summary-tab-pane" role="tabpanel"
                     aria-labelledby="budget-summary-tab">
                    {#  TODO content here!!! #}
                    You write code here!!! TAG BUDGET SUMMARY
                </div>
                <div class="tab-pane fade p-6" id="team-members-tab-pane" role="tabpanel"
                     aria-labelledby="team-members-tab">
                    <!-- WIDGET GROUP -->
                    <div class="widget-group row no-gutters">
                        <!-- WIDGET 1 -->
                        <div class="col-12">
                            <div class="card">
                                {#  TODO content here!!! #}
                                You write code here!!! TAG TEAM MEMBER
                            </div>
                        </div>
                        <!-- WIDGET 1 -->
                    </div>
                </div>
            </div>

        </div>
        <!-- / CONTENT -->
    </div>
{% endblock %}