<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md"
       data-fuse-bar-position="left">
    <div class="aside-content-wrapper">

        <div class="aside-content bg-primary-700 text-auto">

            <div class="aside-toolbar">
                <div class="logo">
                    <span class="logo-icon">F</span>
                    <span class="logo-text">FUSE</span>
                </div>
                <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block"
                        data-fuse-aside-toggle-fold>
                    <i class="icon icon-backburger"></i>
                </button>

            </div>

            <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">

                <li class="subheader">
                    <span>APPS SUMMARY</span>
                </li>

                <li class="nav-item" role="tab" id="heading-dashboards">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-dashboards" href="#" aria-expanded="false"
                       aria-controls="collapse-dashboards">
                        <i class="icon s-4 icon-tile-four"></i>
                        <span>Dashboards</span>
                    </a>
                    <ul id="collapse-dashboards" class='collapse' role="tabpanel"
                        aria-labelledby="heading-dashboards" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple {% if request.resolver_match.url_name == 'analytic' %} active{% endif %}"
                               href="{% url 'analytic' %}"
                               data-url="analytics-content.html">
                                <span>Project Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple {% if request.resolver_match.url_name == 'empty' %} active{% endif %}"
                               href="{% url 'empty' %}" data-url="empty-content-sample.html">
                                <span>Server</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item" role="tab" id="heading-ecommerce">
                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-ecommerce" href="#" aria-expanded="false"
                       aria-controls="collapse-ecommerce">
                        <i class="icon s-4 icon-cart"></i>
                        <span>Schedule Task</span>
                    </a>
                    <ul id="collapse-ecommerce" class='collapse ' role="tabpanel"
                        aria-labelledby="heading-ecommerce" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-products.html"
                               data-url="index.html">
                                <span>Products</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="apps-e-commerce-product.html"
                               data-url="index.html">
                                <span>Product</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="apps-todo.html" data-url="index.html">
                        <i class="icon s-4 icon-checkbox-marked"></i>
                        <span>To-Do</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>CONTENT EDITOR</span>
                </li>

                <li class="nav-item" role="tab" id="heading-authentication">
                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-authentication" href="#" aria-expanded="false"
                       aria-controls="collapse-authentication">
                        <i class="icon s-4 icon-lock"></i>
                        <span>Notify content</span>
                    </a>
                    <ul id="collapse-authentication" class='collapse ' role="tabpanel"
                        aria-labelledby="heading-authentication" data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-login.html" data-url="index.html">
                                <span>Login</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="pages-auth-lock-screen.html"
                               data-url="index.html">
                                <span>Lock Screen</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple {% if request.resolver_match.url_name == 'input' %} active{% endif %}"
                       href="{% url 'input' %}" data-url="input-data-train-content.html">
                        <i class="icon s-4 icon-format-indent-increase"></i>
                        <span>Input data training </span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple {% if request.resolver_match.url_name == 'dictionary' %} active{% endif %}"
                       href="{% url 'dictionary' %}" data-url="dictionary-content.html">
                        <i class="icon s-4 icon-magnify"></i>
                        <span>Dictionary words</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>ADMIN</span>
                </li>

                <li class="nav-item hide" role="tab" id="heading-tables">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-tables" href="#" aria-expanded="false"
                       aria-controls="collapse-tables">

                        <i class="icon s-4 icon-table-large"></i>

                        <span>Data user role</span>
                    </a>
                    <ul id="collapse-tables" class='collapse ' role="tabpanel" aria-labelledby="heading-tables"
                        data-children=".nav-item">

                        <li class="nav-item">
                            <a class="nav-link ripple " href="user-interface-tables-simple-table.html"
                               data-url="index.html">

                                <span>Simple Table</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="user-interface-tables-data-table.html"
                               data-url="index.html">

                                <span>Data Table</span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="nav-item  hide">
                    <a class="nav-link ripple " href="user-interface-helper-classes.html" data-url="index.html">

                        <i class="icon s-4 icon-help-circle"></i>

                        <span>Support help</span>
                    </a>
                </li>

                <li class="subheader">
                    <span>USERS</span>
                </li>
                <li class="nav-item" role="tab" id="heading-charts">

                    <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse"
                       data-target="#collapse-charts" href="#" aria-expanded="false"
                       aria-controls="collapse-charts">
                        <i class="icon s-4 icon-poll"></i>
                        <span>User task</span>
                    </a>
                    <ul id="collapse-charts" class='collapse ' role="tabpanel" aria-labelledby="heading-charts"
                        data-children=".nav-item">
                        <li class="nav-item">
                            <a class="nav-link ripple " href="components-charts-nvd3.html"
                               data-url="index.html">
                                <span>nvD3</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link ripple " href="components-tooltips.html" data-url="index.html">
                        <i class="icon s-4 icon-tooltip"></i>
                        <span>Profile infor</span>
                    </a>
                </li>

            </ul>
        </div>
    </div>
</aside>