<!-- HEADER -->
<div class="page-header bg-secondary text-auto d-flex flex-column justify-content-between px-6 pt-4 pb-0">
    <div class="row no-gutters align-items-start justify-content-between flex-nowrap">
        <div>
            <span class="h2">{{ titleHeaderContent }}</span>
        </div>
    </div>
</div>
<!-- / HEADER -->